@import "node_modules/modern-normalize/modern-normalize.css";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.eas-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: solid black 5px;
  box-shadow: 3px 3px 5px gray;
  user-select: none;
}

.eas-square {
  border: solid lightgray 1px;
  box-sizing: content-box;
}

.eas-square:hover {
  background-color: black;
}

.prompt-button {
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 15px;
  border: 0;
  box-shadow: 3px 3px 5px gray;
  margin-bottom: 20px;
}

.prompt-button:active {
  box-shadow: 0px 0px 0px;
}

.footer {
  margin-block: 25px;
}

.github-icon {
  width: 25px;
  vertical-align: middle;
  margin-left: 10px;
}
